<ion-tabs>

  <!-- Defines the appearance of the "Grocery" tab-->
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Grocery</ion-label>
    </ion-tab-button>

  <!-- Defines the appearance of the "About" tab-->
    <ion-tab-button tab="tab2">
      <ion-icon name="alert-circle"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>

   <!-- Defines the appearance of the "Contact" tab--> 
    <ion-tab-button tab="tab3">
      <ion-icon name="people"></ion-icon>
      <ion-label>Contact</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
