<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- Defines info relating to the app's creator -->
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-text-start">
          <h2>Name:</h2>
          <h3>Michael Gutierrez</h3>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-text-start">
          <h2>ID Number:</h2>
          <h3>0921983</h3>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
